.wrapper {
  flex-grow: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  flex-direction: column;
}

.logo {
  width: 200px;
  height: 200px;
}

.text {
  color: white;
  font-size: 12px;
}